body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.content {
    background-color: #111;
    border-radius: .25em;
    opacity: 0.8;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

header {
    background: hsl(0, 0%, 13%);
    color: #fff;
    opacity: 0.9;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

#login {
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    padding: 40px;
    margin: 200px auto;
    opacity: 0.6;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(1, 1, 1, 1);
    border: 10px solid #333;
    text-align: center;
}

h2 {
    margin-top: 0;
    font-size: 24px;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
}

input[type="submit"] {
    background-color: #0e0c0c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
    transform: translateY(4px);
    box-shadow: 0 2px 4px rgba(2, 2, 2, 2);
}

/* Dashboard Page Styles */
body {
    background-image: url('images/Background Images/college.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.user-info {
    margin-bottom: 20px;
}

.user-info p {
    margin: 5px 0;
}

.redirects {
    text-align: center;
}

.redirects a {
    display: inline-block;
    opacity: 0.7;
    margin: 20px;
    padding: 10px 0px;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    width: 45%;
    height: 50px;
}
