/* style.css */

body {
    background-image: url('/static/pphoto1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.column {
    background-color: #007bff;
    margin: 0 15px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 150px; /* Fixed width for alignment */
}

.column a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.column:hover {
    background-color: #0056b3;
}

.logout {
    margin-top: 20px; /* Add margin to separate from other links */
}

.logout a {
    background-color: #dc3545; /* Different color for logout */
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.logout a:hover {
    background-color: #c82333; /* Darker color on hover */
}
