body {
    background-image: url('/static/pphoto.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.attendance-container {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    opacity: 0.9;
    text-align: left;
}

.teacher-attendance-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4285F4;
}

input[type="submit"] {
    background-color: #4285F4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #357ae8;
}

/* Specific styles for Set Attendance Page */
.set-attendance-form label, .set-attendance-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.set-attendance-form input[type="text"] {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.set-attendance-form input[type="submit"] {
    background-color: #34A853;
}

.set-attendance-form input[type="submit"]:hover {
    background-color: #2c8c45;
}

a {
    color: #34A853;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

/* Flash messages */
.flash-message {
    margin: 20px auto;
    width: 80%;
    color: #fff;
    text-align: center;
}

.flash-message.success {
    background-color: #34A853;
}

.flash-message.error {
    background-color: #EA4335;
}
