.flashes {
    list-style-type: none;
    padding: 0;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.info {
    color: blue;
}

h1 {
    font-size: 2rem;
}

form {
    margin: 20px 0;
}

label {
    display: block;
}

input {
    margin: 5px 0;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
