body {
    background-image: url('/static/pphoto1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.attendance-container {
    background-color: #222;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    color: #fff;
    margin: 0 auto;
    margin-top: 150px;
    opacity: 0.95;
    text-align: center;
}

.teacher-attendance-heading {
    font-size: 30px;
    margin-bottom: 25px;
    color: #FF5722;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #333;
    color: #fff;
}

th {
    background-color: #1409d6;
}

td form {
    margin: 0;
}

a {
    color: #FF5722;
    text-decoration: none;
    margin-top: 10px;
}    

a:hover {
    text-decoration: underline;
}

/* Forms for delete/clear actions */
form {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #FF5722;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #E64A19;
}

/* Flash messages */
.flash-message {
    margin: 20px auto;
    width: 20%;
    color: greenyellow;
    text-align: center;
}

.flash-message.success {
    background-color: #222;
}

.flash-message.error {
    background-color: #35ea4a;
}

/* Specific styling for spacing */
.clear-records-form {
    margin-top: 20px; /* Space above Clear All Records button */
}

.home-link {
    display: inline-block;
    margin-top: 30px; /* Space below the Clear All Records button */
}
